@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(135deg, #3c8ce7 10%, #00eaff 100%);
}

.container {
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  gap: 5px;
}

.calculateBtn {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  border: none;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: #fff;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
}

.calculateBtn span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 1.2em 0.8em 1.05em;
}

.calculateBtn::before,
.calculateBtn::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.calculateBtn::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.calculateBtn:hover::before {
  transform: translate3d(100%, 0, 0);
}

.calculateBtn:active {
  transform: scale(0.95);
}

.calculateBtn i {
  margin-right: 10px;
}
